body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

form {
	margin: 20px 0;
}

label {
	display: block;
}

input[type="text"], textarea {
	width: 100%;
	padding: 5px;
	border-radius: 12px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

button[type="submit"] {
	background-color: #0616f7;
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #1c1b7a;
}

#dataInicio, #dataFim {
	border-radius: 10px;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

#progresso {
    margin-bottom: 15px;
}
